.header {
    margin-top: 20px;
}

.header a {
    text-decoration: none;
    margin-right: 15px;
    padding: 2px 5px;

}

.header a:hover {
    background-color: rgb(85, 83, 88);
    color: aqua;
    border-radius: 5px;

}

.active {
    background-color: aquamarine;
}